rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // This rule allows anyone with your Firestore database reference to view, edit, delete etc
    match /{document=**} {
      allow read, write: if true;
    }
  }
}